@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1>Piso</h1>
    <p class="lead">Logue Para obter acesso a Tabela (Cliente) e a Tabela (Produto)!</p>
    <!-- <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET</h2>
        <p>
            ASP.NET é a plataforma da Microsoft para o desenvolvimento de aplicações Web e é o sucessor da tecnologia ASP. 
            Permite através de uma linguagem de programação integrada na .NET Framework criar páginas dinâmicas. 
            Não é nem uma linguagem de programação como VBScript, PHP, nem um servidor web como IIS ou Apache..
        </p>
        <p><a class="btn btn-default" href="https://pt.wikipedia.org/wiki/ASP.NET">Ler Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visual Studio</h2>
        <p>Microsoft Visual Studio é um ambiente de desenvolvimento integrado (IDE) da Microsoft para desenvolvimento de software especialmente dedicado ao 
        .NET Framework e às linguagens Visual Basic (VB), C, C++, C# (C Sharp) e J# (J Sharp).</p>
        <p><a class="btn btn-default" href="https://pt.wikipedia.org/wiki/Microsoft_Visual_Studio">Ler Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Você pode facilmente encontrar uma empresa de hospedagem na web que ofereça a combinação certa de características e preço para sua aplicação.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ler Mais &raquo;</a></p>
    </div>
</div>